*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #77A1D3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    

}
h1{
    background-color: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

#todo-container{
    width: 360px;
    margin: 100px auto;  
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) ;
    
    
}

.checkoff{
    text-decoration: line-through;
    color: grey;
}

.todo-options{
    opacity: 1;
    /* padding: 5px 10px; */
    transition: opacity 0.5s;
}


#list-container{
    list-style: none;
    margin: 0;
    padding: 0px
    
}

#todo{
    padding: 13px 13px 13px 20px;
    font-size: 18px;
    width: 100%;
    background-color: #f7f7f7;
    border: none;
    transition: all 0.2s;
}


#todo:focus{
    background: #fff;
    border: 2px solid #2980b9;
    outline: none;
}

.todoClass{
    opacity: 0;
    display: none;
}

li{
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    color: #666
}
li:nth-child(even){
    background-color: #f7f7f7;
}
.delete-buttons{ 
     background-color: #e74c3c;
     height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0px;
    display: inline-block;
    opacity: 0;
    transition: all 0.3s linear; 
}
li:hover .delete-buttons{
    display: inline-block;
    width: 40px;
    opacity: 1;
    transform: translateX(0px);

}

#add-icon{
    float: right;
}